<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .field-Error {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/members/new" th:object="${memberDto}" method="post">

        <div class="form-group">
            <label th:for="userId">USER ID</label>
            <input type="text" th:field="*{userId}" class="form-control" placeholder="ID를 입력하세요"
                   th:class="${#fields.hasErrors('userId')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">Incorrect date</p>
            <p th:text="'중복ID 존재'" th:if="${DuplicateUserId}" >Incorrect date</p>
        </div>

        <div class="form-group">
            <label th:for="password">password</label>
            <input type="text" th:field="*{password}" class="form-control"  placeholder="password를 입력하세요"
                   th:class="${#fields.hasErrors('password')}?'form-control fieldError':'form-control'">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
        </div>

        <div class="form-group">
            <label th:for="userEmail">email</label>
            <input type="text" th:field="*{userEmail}" class="form-control"
                   placeholder="Email을 입력하세요"
                   th:class="${#fields.hasErrors('userEmail')}?'form-control fieldError':'form-control'">
            <p th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}">Incorrect date</p>
            <p th:if="${DuplicateUserEmail}" th:text="'중복 Email 존재'">Incorrect date</p>

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>