<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="py-5 text-center">
        <h2 th:if="${loginMember.id==id}">내 정보</h2>
        <h2 th:unless="${loginMember.id==id}">회원 정보</h2>
    </div>

    <div th:object="${form}">
        <div class="memberImage" style ="text-align:center;">
            <img th:if="${form.memberImageName != null}" th:src="|/images/${form.memberImageName}|" width="300" height="300" />
            <span th:unless="${form.memberImageName != null}">대표 사진 없음</span>

        </div>
        <div>
            <label for="userId">UserId</label>
            <input type="text" id="userId" th:field="*{userId}" class="form-control" disabled>

        </div>
        <div>
            <label for="userEmail">Email</label>
            <input type="text" id="userEmail" th:field="*{userEmail}"
                   class="form-control"
                   disabled>
        </div>

        <div class="row">
            <span th:text="|팔로워 수 ${form.getFollowers().size()}|"></span>
            <span th:text="|팔로잉 수 ${form.getFollowings().size()}|"></span>

        </div>

        <hr class="my-4">
        <div class="row">
            <div class="col" th:if="${loginMember!=null and loginMember.id!=id and followed==false}">
                <form th:action="@{/api/members/{loginId}/follow/{id} (loginId=${loginMember.id},id=${id})}" method="post">
                    <button class="w-100 btn btn-secondary btn-lg" name="follow" value="follow">Follow</button>
                </form>
            </div>
            <div class="col" th:if="${loginMember!=null and loginMember.id!=id and followed==true}">
                <form th:action="@{/api/members/{loginId}/unfollow/{id} (loginId=${loginMember.id},id=${id})}" method="post">
                    <button class="w-100 btn btn-danger btn-lg" name="unfollow" value="unfollow">UnFollow</button>
                </form>
            </div>

        </div>
        <div class="row">
            <div class="col" th:if="${loginMember.id==id}">
                <button class="w-100 btn btn-secondary btn-lg" type="button"
                        th:onclick="|location.href='@{/members/{id}/update (id=${loginMember.id})}'|">
                    내 정보 수정
                </button>
            </div>
            <div class="col" th:if="${loginMember.id==id}">

                <form id="delete" th:action="@{/members/{id}/withdrawal (id=${loginMember.id})}" method="post">
                    <input type="hidden" name = "_method" value = "delete"/>
                    <button class="w-100 btn btn-danger btn-lg" type="submit">
                        회원 탈퇴
                    </button>
                </form>

            </div>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일자</th>
                    <th>수정일자</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="post:${form.posts}">
                    <tr>
                        <td th:text="${post.id}">
                        <td ><a th:href="@{/posts/{id}/detail (id=${post.getId()})}" th:text="${post.title}"></a></td>
                        <td th:text="${post.member.userId}"></td>
                        <td th:text="${post.createdDate}"></td>
                        <td th:text="${post.lastModifiedDate}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>

    </div>
</div> <!-- /container -->
</body>
</html>