<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="py-5 text-center">
        <h2>내 정보</h2>
    </div>

    <div th:object="${form}">
        <div>
            <label for="userId">UserId</label>
            <input type="text" id="userId" th:field="*{userId}" class="form-control" disabled>

        </div>
        <div>
            <label for="userEmail">Email</label>
            <input type="text" id="userEmail" th:field="*{userEmail}"
                   class="form-control"
                   disabled>

        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" type="button"
                        th:onclick="|location.href='@{/members/{id}/update (id=${loginMember.id})}'|">
                    내 정보 수정
                </button>
            </div>

        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일자</th>
                    <th>수정일자</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="post:${form.posts}">
                    <tr>
                        <td th:text="${post.id}">
                        <td ><a th:href="@{/posts/{id}/detail (id=${post.getId()})}" th:text="${post.title}"></a></td>
                        <td th:text="${post.member.userId}"></td>
                        <td th:text="${post.createdDate}"></td>
                        <td th:text="${post.lastModifiedDate}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>

    </div>
</div> <!-- /container -->
</body>
</html>