<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>videos</title>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 1000px">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="py-5 text-center">
        <h2>영상 게시판</h2>
    </div>
    <h4 class="mb-3" th:if="${loginMember != null}" th:text="|로그인: ${loginMember.userId}|">로그인 사용자 이름</h4>
    <h4 class="mb-3" th:unless="${loginMember != null}" th:text="|비로그인|">비로그인</h4>

    <hr class="my-4">
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일자</th>

            </tr>
            </thead>
            <tbody>
            <th:block th:each="video:${videos}">
                <tr>
                    <td th:text="${video.id}">
                    <td ><a th:href="@{/videos/{id}/detail (id=${video.getId()})}" th:text="${video.title}"></a></td>
                    <td ><a th:href="@{/members/{id}/info (id=${video.getMember().getId()})}" th:text="${video.member.userId}">></a></td>
                    <td th:text="${video.createdDate}"></td>
                    <td th:text="${video.lastModifiedDate}"></td>


                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <div th:if="${videos.totalPages != 0}" class="text-center">
        <ul class="pagination">
            <li th:each="page : ${#numbers.sequence(0, videos.totalPages - 1)}">
                <a th:href="@{/videos(page=${pageStat.index})}" th:text="${pageStat.index + 1}"></a>
                &nbsp;
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-sm-5">

        </div>
        <div class="col-sm-5">
            <button class="btn btn-primary btn-sm" type="button"
                    th:onclick="|location.href='@{/videos/new}'|">
                업로드
            </button>
        </div>
    </div>
</div>
</body>
</html>